
<div id="<%=id%>" class="btn-group" role="group" aria-label="button group">
<%  buttons.forEach((button)=>{
%>      <div class="row">
            <div class="col">
                <%-include('./button',button)%>
            </div>
        </div>
<%  });
%>
</div>