<div id="addCardSearchContainer" class="body-container hide-container">
    <form id="addCardSearchForm">
        <div class="input-group">
            <input id="addCardSearch" name="name" type="text" class="form-control" placeholder="Search Cards">
            <div class="input-group-append">
                <button id="addCardSearchSubmit" class="btn btn-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>