<div id="addCardSearchContainer" class="body-container hide-container">
    <form id="addCardSearchForm" method="GET" onsubmit="return false">
        <div class="input-group">
            <input id="addCardSearch" name="name" type="text" class="form-control" placeholder="Search Cards">
            <div class="input-group-append">
                <button id="addCardSearchSubmit" class="btn btn-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <b>Type</b>
            </div>
            <div class="col-sm-5">
                <b>Name</b>
            </div>
            <div class="col-sm-3">
                <b>Mana Cost</b>
            </div>
        </div>
    </div>
    <div id="addCardSearchResults" class="container"></div>
</div>