<div class="search-info">
    <p><strong><%=search.total%></strong><span> cards were found</span></p>
</div>
<div class="body-container card-grid">
    <div class="card-grid-inner">
        <%for(let i = 0; i < cards.length; i++){
            const cardId = cards[i].id;
        %>
            <div class="card-grid-item">
                <a href="/cards/<%=cardId%>">
                    <%-include('./card',{card:cards[i]})%>
                    <%if(buttons){%>
                        <%-include('./form/button',{
                            id:cardId+"AddButton",
                            type:"button",
                            cssClass:["btn","btn-secondary"],
                            label:"Edit",
                            icon:"pencil",
                            clickHandler:"modifications.addCard"
                        })%>
                    <%}%>
                </a>
            </div>
        <%}%>
    </div>
</div>