<div class="body-container card-grid">
    <div class="card-grid-inner">
        <%for(let i = 0; i < decks.length; i++){%>
        <div class="card-grid-item">
            <a href="/decks/<%=decks[i].id%>">
                <%=decks[i].name%>
            </a>
        </div>
        <%}%>
    </div>
</div>