<div id="modifyDeckControls" class="row">
    <div class="flex justify-center col">
        <div id="modifyDeckShow">
            <%-include('form/button',{
            id:"modifyDeckEditBtn",
            type:"button",
            cssClass:["btn","btn-secondary"],
            label:"Edit",
            icon:"pencil",
            clickHandler:""
            })%>
        </div>
        <div class="modify-deck-control hide-container">
            <%-include('form/button',{
            id:"modifyDeckResetBtn",
            type:"reset",
            cssClass:["btn","btn-danger"],
            label:"Cancel",
            icon:"minus",
            clickHandler:""
            })%>
            <%-include('form/button',{
            id:"modifyDeckSaveBtn",
            type:"button",
            cssClass:["btn","btn-success"],
            label:"Save",
            icon:"floppy-o",
            clickHandler:""
            })%>
        </div>
    </div>
</div>
<div class="row hide-container modify-deck-control">
    <form id="editValuesForm" class="hide-container" method="POST" action="/decks/<%=deck.id%>/edit" onsubmit="return modifications.submitChanges">
        <input id="editValuesInput" name="changes" type="hidden" value="[]">
    </form>
    <div id="addCardSearchContainer" class="body-container">
        <form id="addCardSearchForm">
            <div class="input-group">
                <input id="addCardSearch" name="name" type="text" class="form-control" placeholder="Search Card to Add">
                <div class="input-group-append">
                    <button id="addCardSearchSubmit" class="btn btn-secondary" type="button">
                        <i class="fa fa-plus"> Add</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>