<!DOCTYPE html>
<head lang="eng">
    <meta charset="UTF-8">
    <!--3rd Party CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/tailwind.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!--3rd Party Scripts-->
    <script src="https://cdn.rawgit.com/yahoo/xss-filters/master/dist/xss-filters.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.0.0/validator.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.1/typeahead.bundle.js"></script>
    <!--Common CSS-->
    <link rel="stylesheet" href="/css/common.css">
    <!--Common Scripts-->
    <script src="/js/elements.js"></script>
    <script src="/js/common.js"></script>
    <title><%=title%></title>
</head>
<body>