<div class="body-container">
    <form id="cardSearchForm" method="GET" onsubmit="return search.submit">
        <div class="input-group">
            <input id="cardSearch" name="name" type="text" class="form-control" placeholder="Search Cards">
            <div class="input-group-append">
                <button id="cardSearchSubmit" class="btn btn-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>