html, body {
    height: 100%;
}

.wrapper, .row {
    height: 100%;
    margin-left:0;
    margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}
#sidebar {
    background-color:#eee;
    height:100%;
    position:fixed;
    right:0;
}