<%-include('components/head',{title:'MTG Deck Builder|card.name'})%>
<%-include('components/navigation')%>
<div class="main">
    <table class="mlr-auto">
        <tbody>
            <%-include('components/cardProfile',{card:card})%>
        </tbody>
    </table>
</div>
<%- include('components/foot',{ scripts:['navigation'],styles:[]})%>