<%-include('components/head',{title:'MTG Deck Builder|card.name'})%>
<%-include('components/navigation')%>
<div class="body-container mlr-auto">
    <%-include('components/card',{card:card})%>
</div>
<%- include('components/foot',{ scripts:['navigation'],styles:[]})%>