<div class="input-group">
    <input id="cardSearch" name="searchVal" type="text" class="form-control" placeholder="Search Cards">
    <div class="input-group-append">
        <button id="cardSearchSubmit" class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>
<form id="cardSearchForm" method="GET" action="/cards">
    <input id="cardSearchValue" type="hidden" name="name">
</form>