<table class="mlr-auto">
    <tbody>
        <%-include('./header',{results:results})%>
<%      for(let i = 0; i < results.length; i++){
%>          <%-include('./result',{result:results[i]})%>
<%      }
%>  </tbody>
</table>