<div class="modal fade" id="loginModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h4 class="modal-title text-center w-100">
                    Sign In
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column text-left">
                    <%- include('./error',{
                        id:"loginErr",
                        text:"Incorrect e-mail or password"
                    }); %>
                    <form id="loginForm" method="POST" action="/login">
                        <%- include('./text',{
                            id:"loginEmail",
                            name:"email",
                            type:"email",
                            label:"E-mail",
                            error:"Please enter your email",
                            placeholder:"Enter your e-mail"
                        }); %>
                        <%- include('./text',{
                            id:"loginPassword",
                            name:"password",
                            type:"password",
                            label:"Password",
                            error:"Please enter your password",
                            placeholder:"Enter your password"
                        }); %>
                        <%- include('./button',{
                            id:"loginFormBtn",
                            type:"button",
                            label:"Sign In",
                            color:"secondary"
                        }); %>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>