<div class="search-info">
    <p><strong><%=search.total%></strong><span> cards where the name includes</span></p>
</div>
<div class="body-container card-grid">
    <div class="card-grid-inner">
        <%for(let i = 0; i < cards.length; i++){%>
            <div class="card-grid-item">
                <a href="/card/<%=cards[i].id%>">
                    <%-include('./card',{card:cards[i]})%>
                </a>
            </div>
        <%}%>
    </div>
</div>