<div class="body-container card-grid">
    <div class="card-grid-inner">
        <%for(let i = 0; i < cards.length; i++){%>
            <div class="card-grid-item">
                <a href="/cards/<%=cards[i].id%>">
                    <%-include('./card',{card:cards[i]})%>
                </a>
            </div>
        <%}%>
    </div>
</div>