<div class="body-container card-grid">
    <% const cardCount = cards.length %>
    <% const rows = Math.floor(cardCount/4) %>
    <% const hasOrphanCards = cardCount % 4 !== 0 %>
    <% var currentCard = 0 %>
    <div class="card-grid-inner">
        <%for(let i = 0; i < cardCount; i++){%>
        <div class="card-grid-item">
            <a href="/cards/<%=cards[currentCard].id%>">
                <%-include('./card',{card:cards[currentCard]})%>
            </a>
        </div>
        <%currentCard++%>
        <%}%>
    </div>

</div>