<div class="body-container">

        <% const cardCount = cards.length %>
        <% const rows = Math.floor(cardCount/4) %>
        <% const hasOrphanCards = cardCount % 4 !== 0 %>
        <% var currentCard = 0 %>
        <table class="mlr-auto">
            <tbody>
            <%for(let i = 0; i < rows; i++){%>
                <tr>
                    <%for(let i = 0; i < 4; i++){%>
                        <td>
                            <a class="mx-auto" href="/cards/<%=cards[currentCard].id%>">
                                <%-include('./card',{card:cards[currentCard]})%>
                            </a>
                        </td>
                        <%currentCard++%>
                    <%}%>
                </tr>
            <%}%>
            <%if(hasOrphanCards){%>
                <tr>
                    <%for(let i = currentCard; i < cardCount; i++){%>
                        <td>
                            <a class="mx-auto" href="/cards/<%=cards[currentCard].id%>">
                                <%-include('./card',{card:cards[currentCard]})%>
                            </a>
                        </td>
                        <%currentCard++%>
                    <%}%>
                </tr>
            <%}%>
            </tbody>
        </table>

</div>