<div class="body-container">
    <table class="mlr-auto">
        <tbody>
        <tr>
            <th class="txt-center">
<%              if(cards.length === 0) {
%>                  No Cards Founds
<%              }
%>
            </th>
        </tr>
<%              const cardCount = cards.length;
                const rows = Math.floor(cardCount/3);
                const hasOrphanCards = cardCount % 3 !== 0;
                var currentCard = 0;
                console.log(cards);
                for(let i = 0; i < rows; i++){
%>                  <tr>
<%                      for(let i = 0; i < 3; i++){
%>                           <td>
                                <a class="mx-auto" href="/cards/<%=cards[currentCard].id%>">
                                    <%-include('./card',{card:cards[currentCard]})%>
                                </a>
                            </td>
<%                          currentCard++;
                        }
%>                  </tr>
<%              }
                if(hasOrphanCards){
%>
                    <tr>
<%                      for(let i = currentCard; i < cards.length; i++){
%>                         <td>
                               <a class="mx-auto" href="/cards/<%=cards[currentCard].id%>">
                                   <%-include('./card',{card:cards[currentCard]})%>
                               </a>
                           </td>
<%                      }
%>                  </tr>
<%
                }
%>      </tbody>
    </table>
</div>