<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center">
                    <h4>Login</h4>
                </div>
                <div class="d-flex flex-column text-center">
                    <p id="loginErr" class="err">Incorrect e-mail or password</p>
                    <form id="loginForm" method="POST" action="/login">
                        <div class="form-group">
                            <p id="emailErr" class="err">Please enter your e-mail</p>
                            <input id="loginEmail" name = "email" type="email"
                                   class="throwsErr form-control" placeholder="Enter E-mail">
                        </div>
                        <div class="form-group">
                            <p id="passwordErr" class="err">Please enter your password</p>
                            <input  id="loginPassword" name="password" type="password"
                                    class="throwsErr form-control" placeholder="Enter Password">
                        </div>
                        <button id="loginFormBtn" type="button"
                                class="btn btn-secondary btn-block">
                            Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>