<!-- NAVIGATION BAR-->
<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <a class='navbar-brand mx-auto' href='/'>MTG Deck Builder</a>
    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='.dual-collapse2'>
        <span class='navbar-toggler-icon'></span>
    </button>
    <div class='navbar-collapse collapse w-100 order-3 dual-collapse2'>
        <ul class='navbar-nav ml-auto'>
            <li class="nav-item">
                <button type="button" class="btn btn-secondary" onclick="toggleModal('loginModal',true)">
                    Sign In
                </button>
            </li>
            <li class="nav-item">
                |
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-secondary" onclick="toggleModal('signUpModal',true)">
                    Sign Up
                </button>
            </li>
        </ul>
    </div>
</nav>
<%- include('./form/login'); %>
<%- include('./form/register'); %>