<div class="body-container">
<div class="input-group">

    <div class="input-group-append">
        <form id="cardSearchForm" method="GET" onsubmit="return search.submit(e)">
            <input id="cardSearch" name="name" type="text" class="form-control" placeholder="Search Cards">
            <button id="cardSearchSubmit" class="btn btn-secondary" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>

    </div>
</div>

</div>